
:root {
    --section-color:#eff7fa;
    --dark-color: rgba(0, 0, 0, .4);
}




.pen{
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 100%;
    font-size: large;
    background:none;
    border: none;
    cursor: pointer;
}


.resume1 ,.profiledata{
    background-color: var(--dark-color);
    width: 90%;
    margin: auto;
    border-radius: 15px;
}
.edit{
    background-color: #bf9b30;
    font-size: medium;
    color: #FFE;
}
.edit:hover{
    border: 1px solid #bf9b30;
    background-color: none;
}
.profiledata .profilefirst{
    background-color: var(--dark-color);
    padding: 25px;
    border-radius: 15px;
}
.profiledata h4{
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 15px 25px;
    font-size: large;
    margin: 25px 0px;
}
.profiledata .inputlabel,.inputlabel2{
    display: inline-block;
    width: 45%;
}

.profiledata .profileinput,.profileinput2,.profileinput3{
    color: #fff;
    display: inline-block;
    width: 55%;
    padding: 5px 10px;
    background-color: rgba(83, 83, 83, 0.4);
    border: none;
    border-radius: 5px;
}
.profileinput3{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: max-content;
}

.profiledata .inputlabel2,.profileinput2,.inputlabel4{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.inputlabel4{
    display: block;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 25px;
    height: max-content;
}
.profiledata .profileemail{
    margin-right: 10px;
    font-size: larger;
}
.profiledata .instructor{
    color: #bf9b30;
    font-size:medium;
}
.profiledata .largetext{
    font-size: larger;
}
.profiledata h3{
    font-size: 25px;
    font-weight: 700;
    color: white;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.profiledata .disabled{
    background: none;
    border: none;
    color: gray;
}
.resume1 .none{
    display: none;
}
.resume1 button{
    position: absolute;
    top: 25px;
    right: 15px;
    width: fit-content;
}
@media(max-width:778px){
    .profiledata h3{
        font-size: 16px;
        top: 95%;
        transform: translateY(-95%);
    }
    .pen{
        position: absolute;
        display: inline-block;
        bottom: -80%;
        left: 40%;
        font-size: large;
        background:none !important;
        border: none;
    }
    
}