
  :root {
    --primary:#BF9B30;
    --Green:#34A853;
    --Red:#1A1919;
    --Grey:#D0D0D0;
    --Black:#000000;
    --white:#fff;
    --overlay-bage :#1a1919f1;
    --bg-cards:#00000040;
    --hover:#dbb338;
    --background-input: #ffffff1e ;
  }
  body{
    font-family: 'Open Sans', sans-serif;
  }
  
  
  .navbar .collapse{
    display: flex;
    flex-direction: column;
  }
  .navbar{
    z-index: 5;
  }
  .navbar .container img{
    width: 100;
    height: 100px;
  }
  .navbar .container .navbar-toggler .navbar-toggler-icon{
    color: #dbb338 !important;
  }
  
  .nav-item .nav-link{
    color: white;
  }
  .nav-link{
    position: relative;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 0%;
    height: 60%;
    border-bottom: 2px solid #BF9B30;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
}

.nav-link:hover::before {
  width: 100%;
  height: 56%;
  transition: 0.5s;
  transition-delay: 0.2s;
  opacity: 1;
}
.nav-contact{
  padding: 10px;

}
.nav-con{
  border:1px solid #bf9b30;
  transition: 0.5s;
}
.nav-con:hover{
  background-color: #BF9B30;
  color: white;
  transition: 0.5s;
}
  .nav-item .dropdown-toggle:focus,
  .nav-item .nav-link:focus
  {
    color: white !important;
  }
   .active{
    border:1px solid var(--hover) ;
  }
  .navbar-toggler .icon-navbar{
  color: var(--primary);
  border: none;
  outline: none;
  font-size: 25px;
}